{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold mb-6">Password Reset</h1>
        <p class="mb-4">Please enter and confirm your new password below.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class=" mt-6 block w-full py-2 px-4 bg-teal-600 text-white rounded-md hover:bg-teal-700 focus:outline-none focus:ring focus:ring-teal-300">
                Reset Password
            </button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="text-teal-600">Return to Login</a>
        </div>
    </div>
</div>

<style>
    form input {
        border: 1px solid #ccc; /* Add your desired border styles here */
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }
  </style>

{% endblock %}
