{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="max-w-screen-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-semibold mb-6 text-teal-600">Sign up</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <ul class="errorlist">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium text-gray-700">First Name</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <ul class="errorlist">
                    {% for error in form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium text-gray-700">Last Name</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <ul class="errorlist">
                    {% for error in form.last_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700">Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <ul class="errorlist">
                    {% for error in form.password1.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="mb-4">
            <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700">Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <ul class="errorlist">
                    {% for error in form.password2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <button  class="w-full py-3 px-4 bg-teal-800 text-white rounded-full hover:bg-teal-900 hover:shadow-md focus:outline-none focus:ring focus:ring-teal-200">
            Sign up
        </button>
    </form>
</div>
 <style>
    form input {
        border: 1px solid #ccc; /* Add your desired border styles here */
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }
  </style>
{% endblock %}
