{% extends 'core/base.html' %}

{% block title %}
About Us - Pet Store
{% endblock %}

{% block content %}
<div class="max-w-screen-lg mx-auto p-6">
    <h1 class="text-3xl font-semibold mb-6">About Us</h1>

    <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 mb-6">
            <h2 class="text-xl font-semibold mb-4">Our Story</h2>
            <p class="text-gray-700">
                Welcome to our e-commerce pet store, where your beloved pets are our top priority. We started this journey with a passion for providing the best products and services to pet owners like you. Our story is driven by the love we have for pets, and we aim to create a pet-friendly community through our platform.
            </p>
        </div>
        <div class="w-full sm:w-1/2 mb-6">
            <h2 class="text-xl font-semibold mb-4">Our Mission</h2>
            <p class="text-gray-700">
                Our mission is to offer a wide range of pet products, from food and toys to accessories and healthcare essentials, all in one convenient online pet store. We are committed to ensuring the happiness and well-being of your pets while making your shopping experience as enjoyable and stress-free as possible.
            </p>
        </div>
    </div>

    <div class="mt-8">
        <h2 class="text-xl font-semibold mb-4">Why Choose Us?</h2>
        <p class="text-gray-700">
            At our pet store, we pride ourselves on:
        </p>
        <ul class="list-disc pl-6 text-gray-700">
            <li>Providing high-quality pet products from trusted brands.</li>
            <li>Offering a user-friendly online shopping experience.</li>
            <li>Fast and reliable delivery to your doorstep.</li>
            <li>Knowledgeable customer support for all your pet-related queries.</li>
            <li>Supporting animal welfare initiatives and local pet communities.</li>
        </ul>
    </div>

    <div class="mt-8">
        <h2 class="text-xl font-semibold mb-4">Contact Us</h2>
        <p class="text-gray-700">
            We'd love to hear from you! If you have any questions, feedback, or inquiries, please don't hesitate to reach out to our customer support team. Your satisfaction and your pet's well-being are our top priorities.
        </p>
    </div>
</div>
{% endblock %}
